<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuepoint.actividades"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name='android.permission.SEND_SMS'/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.cuepoint.clases.SMSReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.cuepoint.clases.WifiReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.cuepoint.controladores.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.cuepoint.controladores.MenuPrincipal" >
        </activity>
        <activity
            android:label="@string/seleccionar_contacto"
            android:name="com.cuepoint.controladores.ListaContactos"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:label="@string/enviar"
            android:name="com.cuepoint.controladores.EnviarSMS" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.cuepoint.controladores.SMSRecibido"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:label="@string/preferencias"
            android:name="com.cuepoint.controladores.Preferencias" >
        </activity>
        <activity
            android:label="@string/plano_seleccion"
            android:name="com.cuepoint.controladores.ListaPlanos" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.cuepoint.controladores.Imagen" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.cuepoint.controladores.Boletin" >
        </activity>
        <activity
            android:label="@string/mensajes"
            android:name="com.cuepoint.controladores.Mensajes" >
        </activity>
        <activity
            android:label="@string/mensajes"
            android:name="com.cuepoint.controladores.MensajesEnviados" >
        </activity>
        <activity
            android:label="@string/mensajes"
            android:name="com.cuepoint.controladores.MensajesRecibidos" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.cuepoint.controladores.Ayuda" >
        </activity>
    </application>

</manifest>